<h1>Welcome to WordCounter</h1>
<h3>Fill in the Forms to find out the count:</h3>
<form action='/repeatCounter' method='post'>
  <label for='word'>Enter a word</label>
  <input id='word' name='word' type='text'>
  <label for='sentence'>Enter a sentence</label>
  <input id='sentence' name='sentence' type='text'>
  <button type='submit'>Find Out</button>
</form>
