<!DOCTYPE html>
<html>
<head>
  <title>WordCounter>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </title>
</head>
<body>
<h1>Word Counter</h1>
<div class = "jumbotron">
<h3>The word "@Model.GetWord()" has appeared in the sentence @Model.GetCount() times.</h3>
<ul>
</div>
<li><a href='/repeatCounter/new'>Play again</a></li>
<!-- <li><a href='/repeatCounter/list'>View the List</a><li> -->
<li><a href='/'>Back to Main Menu></a></li>
<ul>
</body>
</html>
