<h1>Word Counter</h1>

<h3>The word "@Model.GetWord()" has appeared in the sentence @Model.GetCount() times.</h3>
<ul>
<li><a href='/repeatCounter/new'>Play again</a></li>
<li><a href='/'>Back to Main Menu></a></li>
<ul>
