<h1>Word Counter</h1>

<h3>The word "Request.Form["word"]" has appeared in the sentence @Model.Count() times.</h3>

<a href='/repeatCounter/new'>Play again</a>
<!-- <form action="/repeatCounter/delete" method="post">
  <button type="submit" name="button">Clear All CDs</button>
</form> -->
