  @if(@Model.IsLeapYear(@Model.GetYear()))
  {
    <h1><p>This is a leap year.</p></h1>
  }
  else
  {
    <h1><p>This is not a leap year.</p></h1>
  }
<ul>
<li><a href='/leapyear/new'>Play again</a></li>
<li><a href='/'>Back to Main Menu</a></li>
</ul>
