<h1> Your year is @Model.GetYear()</h1>

  <!-- @if(@Model.IsLeapYear(@Model.GetYear()))
  {
    <p>This is a leap year.</p>
  }
  else
  {
    <p>This is not a leap year.</p>
  } -->
<ul>
<li><a href='/leapyear/new'>Play again</a></li>
<li><a href='/'>Back to Main Menu</a></li>
</ul>
